.modal-select {
  body {
    background: #fcfcfc;
    display: flex;
    flex-direction: column;
  }

  .input-row {
    padding: 10px;
    height: 20px;
    font-size: 18px;

    .input {
      min-height: 26px; 
      width: 163px;
      font-size: 16px;
      box-sizing: border-box;
      border: none;
      background-color: white;
      border-radius: 20px;
      text-align: center;
    }
  }

  .submit-row {
    width: 504px;
    text-align: right;
    justify-content: left;
    align-items: left;
    flex-direction: column;
  }

  .dropdown-container {
    margin-left: 10px;
    margin-right: 10px;
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    background-color: white;
    max-height: 150px;
    width: 510px;
    overflow-y: auto;
    box-sizing: border-box;
    border: none;
  }

  .dropdown-item {
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    &:hover {
      font-weight: bold;
      cursor: pointer;
    }
  }
}